*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
}

a{
    text-decoration: none;
}
ul , li {
    list-style: none;
}

/* img{
    max-width:15rem;
    height:15rem;
    object-fit: cover;
} */

body{
    min-height:auto;
    background:lightgray;
    font-family: Arial,
    Helvetica,
    sans-serif;
    overflow-x: hidden;
    position: relative;
}


span {
    background: black;
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
}

span:last-child {
    margin-bottom: 0;
}

.nav{
    display: flex;
    height:40px;
    background:rgb(206, 209, 19);
    width:100%;
}
.nav-wrapper{
    width:100%;
    max-width:1200px;
    height:100%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.nav-wrapper .logo h1{
    /* color:black; */
    font-weight:500;
}
.nav-wrapper .cart {
    display: flex;
    align-items:center;
}
.nav-wrapper .cart p {
    color:black;
    font-weight:600;
}
.nav-wrapper .cart .hamburger{
    margin-left:1rem;
    cursor:pointer;
}

.count{
    width:15px;
    height:15px;
    background:red;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius:4px;
    margin-left:5px;
    color:white;
    font-size:0.6rem;
    font-weight:800;
}


.sidebar{
    background:white;
    border-left:2px solid rgb(206, 209, 19);
    position: absolute;
    top:40px;
    right:0;
    bottom:0;
    width:300px;
    /* height:100%; */
    display: flex;
    align-items:center;
    flex-direction:column;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    padding:1rem;
    z-index: 100;
    transform: translateX(100%);
    transition:transform 0.4s ease-in-out;
}
.sidebar.show {
    transform: translateX(0);
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(2,1fr);
    width:100%;
    max-width:1200px;
    height:100%;
    margin:auto;
    padding:1rem;
    gap:1rem;
    /* background:red; */
}
.product{
    background:white;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    position: relative;
    border-radius:4px;
    transition:box-shadow 0.2s ease-in-out;
}
.product:hover{
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.2);
}
.product img{
    width:100%;
}

.price{
    display: flex;
    justify-content: space-between;
    padding:0.5rem;
}
.info{
    display: flex;
    flex-direction:column;
    padding:0.5rem;
    margin-bottom:2rem;
}
.product button{
    position: absolute;
    bottom:0rem;
    width: 100%;
    background:rgb(206, 209, 19);
    padding:0.2rem 0.3rem;
    border:none;
    outline:none;
    color:white;
    font-size:1rem;
    cursor: pointer;
    border-radius: 4px;
}

.products-items{
    flex:1;
    width:100%;
}
.check{
    flex:1;
    width:100%;
}

.item-add{
    margin-top:2rem;
}


.single-item{
    display: flex;
    justify-content: space-between;
    margin-bottom:0.3rem;
}
.single-item .buttons  {
    display: flex;
}
.less,
.add {
    display: flex;
    justify-content: center;
    align-items: center;
    outline:none;
    border:none;
    color:white;
    padding:0.2rem 0.4rem;
    border-radius: 4px;
    cursor: pointer;
}
.less {
    background:crimson;
    margin-right:0.5rem;
    padding:0.2rem 0.5rem;
}
.add{
    background:darkblue;
}
.fixed-price{
    width:15%;
    text-align: right;
}
.payment-price{
    display: flex;
    flex-direction:column;
}
.payment-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom:2rem;
}
.payment-wrapper:first-child {
    margin-top:1rem;
}
.total{
    font-weight: 800;
}
.order{
    background:rgb(206, 209, 19);
    padding:0.2rem 0.3rem;
    outline:none;
    border:none;
    font-size:1rem;
    cursor: pointer;
    border-radius: 4px;
    color:white;
}